/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'league_gothicCnRg';
    src: url('../type/leaguegothic-condensedregular-webfont.eot');
    src: url('../type/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../type/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('../type/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'league_gothicregular';
    src: url('../type/leaguegothic-regular-webfont.eot');
    src: url('../type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/leaguegothic-regular-webfont.woff') format('woff'),
         url('../type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




header{
	text-align:center;
	height:auto;	
	background:#333;
	padding-bottom: 20px;

}

h1,h2{
	font-size:4em;
	font-family: "league_gothicregular", arial, sans-serif;
	color:white;

}

h1{
	font-family: "Brush Script MT", cursive;
	color:beige;
	border-bottom:2px dotted beige;
	width:120px;
	text-align: center;
	margin:0 auto;
	padding-top:20px;
	font-size:2.5em;
}

h2{
	padding-bottom:30px;
}

nav{
	background:#330000;
	padding:10px;

}

.navlink{
	display:inline-block;
	margin:0 15px;
}

.navlink a{
	color:beige;
	text-decoration:none;
}

section{
	background:white;
	text-align:center;
	margin:0 auto;
}

article{
	padding:30px;
	text-align:center;
	width:40%;
	display:inline-block;
}

article p{
	margin:10px;
}

h3{
	color:#330000;
	font-family:helvetica;
	font-weight:bold;
}

footer{
	background:#330000;
	text-align:center;
	padding:2em;
	color: beige;
}